<div class="table table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.no.</th>
                <th>Name</th>
                <th>Eamil</th>
                <th>Phone</th>
                <th>City</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let std of studentArr; let i=index ">
                <td>{{i+1}}</td>
                <td>{{std.name}}</td>
                <td>{{std.email}}</td>
                <td>{{std.phone}}</td>
                <td>{{std.city}}</td>
                <td>
                    <button mat-raised-button color="primary" (click)="onEdit(std)">Edit</button>
                </td>
                <td>
                    <button mat-raised-button color="warn" (click)="remove(std)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
