// .card img{
//     height: 100%;
//     width: 100%;
// }

 .card-body .imgCard{
    width:100%;
    height: 100%;
 position: relative;
 object-fit: cover;
}
.card-body{
    padding: 0;
}

.descrip{
     background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    padding: 15px;
    overflow: auto;
    display: none;
    color: white;
} 

.card:hover .descrip{
     display: block;
}